:root {
	--color-primary-light-transparent: #2a2f4e50;
	--color-primary-light: #2A2F4E;
	--color-primary: #1f2340;
	--color-primary-dark: #191d38;
	--color-light-1-transparent: #cfcfdf2f;
	--color-light-1: #cfcfdf;
	--color-accent: #f55c5c;

	--gradient-1: linear-gradient(135deg, #BB51F8, #3a8ac1, #24b479);

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 600;
}